{
  "extends": ["react-app", "prettier"],
  "plugins": ["react-hooks", "simple-import-sort", "emotion"],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "quotes": ["error", "single"],
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "*", "next": "return" }
    ],
    "eol-last": ["error", "always"],
    "max-depth": ["error", { "max": 3 }],
    "max-len":["error", { "code": 100 }],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "indent": ["error",2],
    "no-unneeded-ternary": ["error", { "defaultAssignment": false }],
    "simple-import-sort/sort": "error",
    "sort-imports": "off",
    "import/order": "off",
    "no-multiple-empty-lines": "error",
    "semi": ["error", "never"],
    "no-tabs": "error",
    "object-curly-spacing": ["error", "always", { "objectsInObjects": false }],
    "comma-dangle": ["error", "always-multiline"]
  }
}
